<div class="row">
    <div class="well col-md-8 col-md-offset-2">
        <h1>{{title}}</h1>
    </div>
    <div class="well col-md-8 col-md-offset-2">
        <form [ngFormModel]="addUserForm" (ngSubmit)="addUser()">
        <!--"addUserFrom" is control Group defined in adduser component file-->
            <fieldset>
                <legend>User</legend>
                <div class="form-group" [ngClass]="{'has-error':((username.touched && username.errors) ? true : false)}">
                    <label for="username">Username</label>
                    <input
                            type="text" class="form-control" id="username" placeholder="username"
                            ngControl="username"
                            #username = "ngForm"
                            [(ngModel)]="user.username"
                    >
                    <div *ngIf="username.touched && username.errors">
                        <div
                                *ngIf="username.errors.required"
                                class="alert alert-danger"
                        >username is required
                        </div>
                        <div
                                *ngIf="username.errors.cannotContainSpace"
                                class="alert alert-danger"
                        >username cannot contain space
                        </div>
                    </div>


                </div>

                <div class="form-group" [ngClass]="{'has-error':((email.touched && email.errors) ? true : false)}">
                    <label for="email">Email</label>
                    <input
                            type="email" class="form-control" id="email" placeholder="email"
                            ngControl="email"
                            #email = "ngForm"
                            [(ngModel)]="user.email"
                    >
                    <div *ngIf="email.touched && email.errors">
                        <div
                            *ngIf="email.errors.invalidEmail"
                            class="alert alert-danger"
                        >Please input valid email id
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="phone">Phone number</label>
                    <input
                            type="tel" class="form-control" id="phone" placeholder="phone number (optional)"
                            ngControl="phone"
                            [(ngModel)]="user.phone"
                    >
                </div>
            </fieldset>

            <fieldset>
                <legend>Address</legend>
                <div class="form-group">
                    <label for="street">Street</label>
                    <input
                            type="text" class="form-control" id="street" placeholder="street"
                            ngControl="street"
                            [(ngModel)]="user.address.street"
                    >
                </div>
                <div class="form-group">
                    <label for="suite">Suit</label>
                    <input
                            type="text" class="form-control" id="suite" placeholder="suite"
                            ngControl="suite"
                            [(ngModel)]="user.address.suite"
                    >
                </div>
                <div class="form-group">
                    <label for="city">City</label>
                    <input
                            type="text" class="form-control" id="city" placeholder="city"
                            ngControl="city"
                            [(ngModel)]="user.address.city"
                    >
                </div>
                <div class="form-group">
                    <label for="zip-code">Zip code</label>
                    <input
                            type="text" class="form-control" id="zip-code" placeholder="Zip code"
                            ngControl="zipcode"
                            [(ngModel)]="user.address.zipcode"
                    >
                </div>
            </fieldset>
            <button type="submit" class="btn btn-info" [disabled]= "!addUserForm.valid">Save</button>
        </form>
    </div>
</div>